@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site was created for a final project in Database Management Systems.</p>
<p>On this site, you can view, create, update, and delete database entries that<br />
store basic network device information for items such as computers, servers, etc.</p>
